In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt

In [2]:
filename = 'Interception.xlsx'

data = pd.read_excel(filename, skiprows=2, index_col=0)
data.columns = ['P_C1', 'EP_C1', 'P_C2', 'EP_C2'] 
data = data.reset_index(drop=True)
data.tail(10)

      P_C1     EP_C1       P_C2     EP_C2
1543   0.0  1.557150   1.000000  1.378709
1544   0.2  1.222285   0.000000  0.989319
1545   0.0  1.641929   1.000000  1.417053
1546   0.0  2.575268   1.000000  1.779757
1547   0.0  2.085257   1.000000  1.840936
1548   0.2  0.595436   2.000000  1.818893
1549   0.0  2.183758   0.975610  1.340924
1550   0.0  1.772323   7.609756  1.336221
1551   0.0  1.428007   6.878049  1.216359
1552   0.0  2.009990  16.536585  1.649695

In [3]:
n = len(data['P_C1'])
t = np.arange(n)
Si1 = np.zeros(n)
Si2 = np.zeros(n)
Si_max = 2.5
Pe_1 = np.zeros(n)
Pe_2 = np.zeros(n)

for t in np.arange(1,n,1):

    Si1[t] = Si1[t-1] + data['P_C1'].loc[data.index == t]
    if Si1[t] > Si_max:
        Pe_1[t] = Si1[t] - Si_max
    Si1[t] = Si1[t] - Pe_1[t]
    deltS = Si1[t] - data['EP_C1'].loc[data.index == t]
    Si1[t] = np.maximum( 0 , deltS)

    Si2[t] = Si2[t-1] + data['P_C2'].loc[data.index == t]
    if Si2[t] > Si_max:
        Pe_2[t] = Si2[t] - Si_max
    Si2[t] = Si2[t] - Pe_2[t]
    deltS = Si2[t] - data['EP_C2'].loc[data.index == t]
    Si2[t] = np.maximum( 0 , deltS)

Pe_1_mean = Pe_1.mean()
Pe_2_mean = Pe_2.mean()

print(Pe_1_mean/data['P_C1'].mean())
print(Pe_2_mean/data['P_C2'].mean())

C:\Users\Unieuro\AppData\Local\Temp\ipykernel_9488\3779479679.py:11: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  Si1[t] = Si1[t-1] + data['P_C1'].loc[data.index == t]
C:\Users\Unieuro\AppData\Local\Temp\ipykernel_9488\3779479679.py:16: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  Si1[t] = np.maximum( 0 , deltS)
C:\Users\Unieuro\AppData\Local\Temp\ipykernel_9488\3779479679.py:18: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  Si2[t] = Si2[t-1] + data['P_C2'].loc[data.index == t]
C:\Users\Unieuro\AppData\Local\Temp\ipykernel_9488\3779479679.py:23: FutureWarning: Calling float on a single element Series is deprecated and will raise a TypeError in the future. Use float(ser.iloc[0]) instead
  Si2[t] = np.maximum( 0 , deltS)

0.8516979845817207
0.6676683005244662

In [ ]:
#PROBLEM 2

filename = 'Rootzone Storage Capacity.xlsx'

data_pre = pd.read_excel(filename, skiprows=2, usecols=[0,1,2,3])
data_pre.columns = ['Date','P_pre', 'EP_pre','Q_pre']
#data_pre = data_pre.reset_index(drop=True)
data_pre.head(10)

data_post = pd.read_excel(filename, skiprows=2, usecols=[4,5,6,7])
data_post.columns = ['Date','P_post', 'EP_post', 'Q_post']
data_post.head()

        Date  P_post   EP_post    Q_post
0 2014-01-01    1.19  0.574843  5.142255
1 2014-01-02    8.08  0.404378  5.378714
2 2014-01-03    4.98  0.588081  4.826240
3 2014-01-04    0.52  0.428248  4.571132
4 2014-01-05    3.63  0.460895  4.665440